* {
  line-height: 2em;
  font-size: 16px;
}

body,
html {
  margin: 0;
}

main {
  min-height: calc(100vh - 116px);
}

section {
  padding: 16px 5vw;
}

header,
footer {
  background-color: #043528;
  color: white;
  text-align: center;
  letter-spacing: 0.05em;
}

header {
  padding: 8px 0;
}

header h1 {
  font-size: 32px;
  font-weight: 600;
}

footer {
  padding: 4px 0;
}

footer h1 {
  font-size: 14px;
  font-weight: 300;
}

.food{
  color: #043528
}
#section-shunki h1{
  color: #043528;
}
#section-shunki li{
  display: inline-block;
  width: 10%;
  color: #DD2255;
}
li:hover{
  color: #000000; /* 文字色を白にする */
    background-color: #3a3a3a; /* 背景色をグレー（#3a3a3a）にする */
    border: 2px solid #000; /* 要素の枠を2pxの太さで、線の種類をsolidに、色を黒にする */
    text-decoration: none; /* リンクに出てくる下線を無効にする*/
}
